.propertyCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #e4e4e4;
    min-height: 350px;
    padding: 0px;
}

.propertyCard img {
    width: 100%;
    border: 1px solid #e4e4e4;
}

.propertyInfo {
    padding: 15px;
    margin-top: auto;
}